@import "src/constants/variables.scss";

.main {
  width: 100%;
  height: calc(100vh - $header-height);
  background-color: #ececec;
  display: flex;
  .sxColumn {
    width: 500px;
    height: calc(100vh - $header-height);
    padding: 20px;
  }
  .dxColumn {
    width: 100%;
    height: calc(100vh - $header-height);
  }
}
