.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: 50px;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.4s ease;
  cursor: pointer;
  color: whitesmoke;
  svg path {
    transition: all 0.4s ease;
  }
  &:hover {
    color: whitesmoke;
  }
  &:hover svg path {
    stroke: whitesmoke;
  }
  .icon {
    font-size: 18px;
  }
  .label {
    @media all and (max-width: 800px) {
      & {
        display: none;
      }
    }
  }
}
.active {
  color: whitesmoke;
  svg path {
    stroke: whitesmoke;
  }
}
